<head>
<link rel="stylesheet" type="text/css" href="/css/contacts.css">
<script src="/js/fone_book.js"></script>
<h1>CONTACTS</h1>
</head>
<body>
<div class="new_butn">
<a href='/create_contact'><button>Create a new contact</button></a>
</div>
<form method="post" action="/contacts" id="myform">

<input type="text" id="searchinput" onkeyup="searchfunk()" placeholder="Search for names.." title="Type in a name">
    <table style="width:100%" id="table">
    <div class="table" id="contacts_table">
    <tr>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>STREET</th>
        <th>CITY</th>
        <th>STATE</th>
        <th>ZIP</th>
        <th>PHONE NUMBER</th>
    </tr>
    </div>
    <%contacts.each_with_index do |v, i|%>
        <tr>
        <%v.each do |info|%>
            <td><%=info%></td>
        <%end%>
        <td><button type="button" class="btn_class" name="myBtn" id="myBtn" value="<%=v[0]%>, <%=v[1]%>, <%=v[2]%>, <%=v[3]%>, <%=v[4]%>, <%=v[5]%>, <%=v[6]%>, <%=v[7]%>" data-session="<%= session[:user_id]%>"  onclick="modalstuff(this)">Edit</button></td>
        </tr>
        
    <%end%>
</div>


 </table>
  <div id="myModal" class="modal"> 
   <div class="modal-content">
   <div class="modal-content" id="add_content_value">
    <input type="text" placeholder="First Name"  name="firstname" required>
    <input type="text" placeholder="Last Name" name="lastname" required>
    <input type="text" placeholder="Street" name="street" required>
    <input type="text" placeholder="City" name="city" required>
    <input type="text" placeholder="State" name="state" required>
    <input type="text" placeholder="Zip" name="zip" required>
    <input type="text" placeholder="Phone Number" name="phonenumber" required>
    <input type="hidden" name="contact_id">
    <input type="submit" value="delete" onclick="del()" id="delat">
    <input type="submit" value="update" onclick="edit()" id="edut">
    <span class="close">&times;</span>
   </div>
   </div>
    <span class="close">&times;</span>
    <input type='submit'>
 </form>
</body>